{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<h1 style="text-align: left">Page 3 to be used if required</h1>
{% endblock %}
<!-- Original sell.html from finance app 
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" id="selector" name="symbol">
                <option disabled selected>Select Symbol</option>
                {% for stock in stocks %}
                    <option>{{ stock }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <input class="form-control" id="amount" name="shares" autocomplete="off" type="number"  placeholder="Quantity">
        </div>
        
        <button id="submit" class="btn btn-primary" type="submit" disabled>Sell</button>
    </form>

    <script>
        document.getElementById("amount").onkeyup = function() {
            if (document.getElementById("amount").value == '') {
                document.getElementById("submit").disabled = true;
            } else {
                document.getElementById("submit").disabled = false;
            }
        }
    </script>
-->