{% extends "home_layout.html" %}

{% block title %}
    Synergitech
{% endblock %}

{% block main %}
<h1>This is not a production website.</h1>
<p><strong>This is a collection of web based projects that I have worked on over the course of my learning to code journey. 
    It has been hastily assembled for demonstration purposes and is by no means perfect. 
    None of the content is optimized for mobile.
</strong></p>
<p> Both of these projects utilize the <a href="https://flask.palletsprojects.com/en/2.3.x/" target="_blank">flask</a> framework.</p>
<div class="flex-container">
    <div class="flex-child">
        <p><a href="/so-random" target="_blank">so-random</a></p>
        <p>This is my final project for CS50. It allows users to generate random lotto numbers for the Australian power ball draw.</p>
        <p>The past years draw results are evaluated and each ball number is catagorised as being either hot or cold relative to the number of 
            times it has been drawn. Users are able to configure their draw criteria, once the numbers are generated they can then use developer tools in their
            browser to run a formatted script (copied to the clipboard via button click) on the oz-lotteries website to fill the from on the order page.
        </p>
        <p>A video demonstrating it's use can be found <a href="https://www.youtube.com/watch?v=ye47GN2qDiQ" target="_blank">here.</a></p>
    </div>
    <div class="flex-child">
        <p><a href="/rotadyne" target="_blank">Rotadyne client portal</a></p>
        <p>This is a low priority project that I started for a friend of mine around a year ago. It got to a point where I realized that django would be a better fit 
            and the project stalled while I started down that learning path.</p> <p>The brief: Build an order tracking website for high volume customers initially, 
            with the view to add in repeat order functionality (B2B transactions) in the future.</p>
    </div>
</div>

<p>
    I was half way through CS50 web (which teaches django), when I got side tracked with an opportunity to work on an embedded project.
    I have been learning C in depth and the in's and outs of developing embedded applications on microcontrollers from ST Microelctronics 
    over the past few months.
</p>
<p>
    The project in question aims to deploy a meshed network of LoRa connected devices that that are able to detirmine 
    amongst themselves which node should be able to activate its drive motor at any given time, given the state of all of the nodes sensors in 
    the network. Only one device motor may be activated in the network at any given time.
</p>

{% endblock %}