{% extends "home_layout.html" %}

{% block title %}
    Synergitech
{% endblock %}

{% block main %}
<h1>This is not a production website.</h1>
<p><strong>This is a collection of web based projects that I have worked on over the course of my learning to code journey. 
    It has been hastily assembled for demonstration purposes and is by no means perfect. 
    None of the content is optimized for mobile.
</strong></p>
<p> Both of these projects are built using <a href="https://flask.palletsprojects.com/en/2.3.x/" target="_blank">flask.</a> Here is 
    a link to my <a href="https://github.com/negotiate-merge" target="_blank">github.</a> 
</p>
<div class="flex-container">
    <div class="flex-child">
        <p><a href="/so-random">so-random</a></p>
        <p>This is my final project for CS50. It allows users to generate random lotto numbers for the Australian power ball draw, 
            based on how hot or cold the numbers are over the past years draws.
        </p>
        <p>A video demonstrating it's use can be found <a href="https://www.youtube.com/watch?v=ye47GN2qDiQ" target="_blank">here.</a></p>
    </div>
    <div class="flex-child">
        <p><a href="/rotadyne">Rotadyne client portal</a></p>
        <p>This is a low priority project that I started for a friend of mine around a year ago. I realized that django was going be a better fit 
            and the project stalled while I started down that learning path.</p> <p>The brief: Build an order tracking website for high volume customers 
            initially, with the view to add in repeat order functionality (B2B transactions) in the future.</p>
    </div>
</div>

<p>
    I am half way through CS50 web (which teaches django), however I have been side tracked with another opportunity to work on an embedded project.
    Lately I have been learning C, and the in's and outs of developing embedded applications on microcontrollers from ST Microelctronics.
</p>
<p>
    The project in question aims to deploy a meshed network of LoRa connected devices that are able to detirmine amongst themselves which node 
    is able to activate its drive motor, given the state of all of the nodes sensors in the network. Only one motor may be running 
    in the network at any given time.
</p>

{% endblock %}